.cabecalho {
    background-color: var(--preto);
    height: 80px;
}

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    height: inherit;
}

.cabecalho__logo {
    width: 120px;
}


.nav__lista {
    display: flex;
    align-items: center;
}

.lista__item {
    padding: 0 1rem;
}

.item--link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
}

.item--parede {
    height: 22px;
    width: 1px;
    background-color: var(--branco);
}

.item-perfil {
    display: flex;
}

.box--perfil {
    display: flex;
    align-items: center;
}

.perfil--img {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.cabecalho__container input {
    display: none;
}

.perfil--img-mobile {
    display: none;
}

.item--conta {
    display: none;
}

.box--conta {
    display: none;
}


@media screen and (max-width: 768px) {
    .cabecalho__container {
        justify-content: space-between;
    }

    .nav__lista {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem 1.5rem 1.5rem 1.5rem;
        left: -100%;
        top: 0;
        background-image: url(../img/spotify.svg);
        background-size: 100px;
        background-position: 40px 95%;
        background-repeat: no-repeat;
        background-color: var(--preto);
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all .2s;
    }

    .menu--hamburguer {
        z-index: 3;
    }

    .cabecalho__botao:checked ~ .nav__lista {
        transform: translateX(100%);
        
    }

    .lista__item {
        margin-bottom:30px;
    }

    .item--link {
        font-size: 32px;
        font-weight: 600;
    }

    .item--parede {
        height: 2px;
        width: 22px;
        background-color: var(--branco);
    }

    .item--conta {
        font-size: 25px;
        font-weight: 400;
        display: block;
    }

    .box--conta {
        display: block;
    }

    .item-perfil {
        display: none;
    }

    .menu--traco {
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 5px;
        margin: 4px 0;
        background-color: var(--branco);
    }

    .cabecalho {
        height: 55px;
    }

    .cabecalho__logo {
        width: 90px;
    }

    .perfil--img {
        width: 35px;
        z-index: 0;
        display: block;
        position: absolute;
        right: 40px;
        z-index: 1;
    }
}

