@import url(css/header.css);
@import url(css/banner.css);
@import url(css/premium.css);

:root {
    --fonte: 'Montserrat';
    --preto: #000000;
    --branco: #ffffff;
    --azul: #1D75DE;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    font-size: 16px;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 700;
}


